@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
 
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 48px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
}
.header .logo {
  height: 50px;
}


.navbar-list{
  display: flex;
  list-style: none;
}

.navbar-list li{
  padding:20px;
  font-size:20px;
  color:#212529;
  transition: all 0.3s; 
  
}

.navbar-link{
  font-weight:500;
 text-decoration: none;
}

.navbar-link:hover{
  color: #364fc7;
 }

 /* ===========================================
Hero and Service Section Start
======================================= */
.section-hero,
.section-services {
  padding: 9.6rem 0;
  background-color: #a5d8ff;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
}

.section-hero p,
.section-services p {
  font-size: 3.2rem;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 40px;
  height: 40px;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #212529;
  }

  .header{
    position: relative;
    padding: 0 30px
  }
  
  
  .navbar{
    position: absolute;
    width: 80%;
    height: 100vh;
    background-color: rgb(238, 234, 234);
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  
}